body{
    background-color: #1d0035;
}
.wrapper {
    height: 70vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 28ch;
    color: aliceblue;
    animation: typing 5s steps(28), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
.section-1 {
    display: inline-block;
    color: aliceblue;
    border-width: 10ch;
    text-align: center;
    border: 2px solid #ffffff3f;
    border-radius: 20px;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Comic Sans MS;
    margin-right: 10px;
    margin-bottom: 30px;
  }
.div-class {
    text-align: center;
}
.heading-full {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
